body{
  background-color: #eee;
}
.todo-title{
  font-size: 80px;
  color: lightgrey;
}
input{
  height: 55px;
  border: none;
  outline: none;
  color: darkslategray;
}
.list-group{
  padding-left: 100px;
  color:darkslategray;
  font-size: 20px;
}
.item-counter{
  font-size: 13px;
  color: darkgrey;
  text-align: left;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
